.navbar-default {
    background-color: #e7e2e8;
    border-color: #c5bdc9;
}
.navbar-default .navbar-brand {
    color: #666869;
    font-size: 22px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #131213;
}
.navbar-default .navbar-text {
    color: #666869;
}
.navbar-default .navbar-nav > li > a {
    color: #666869;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #131213;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #131213;
    background-color: #c5bdc9;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #131213;
    background-color: #c5bdc9;
}
.navbar-default .navbar-toggle {
    border-color: #c5bdc9;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #c5bdc9;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #666869;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #666869;
}
.navbar-default .navbar-link {
    color: #666869;
}
.navbar-default .navbar-link:hover {
    color: #131213;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #666869;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #131213;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #131213;
        background-color: #c5bdc9;
    }
}