

a       	{ font-size: 0.750em; text-decoration: underline;
		color: #99CC66; background-color: #FFFFFF}
.navbar { font-size: 0.750em; text-decoration: underline;  color: #8b8378; background-color: #FFFFFF}
		
.g3 { font-size: 0.750em; text-decoration: underline;  color: #8b8378; background-color: #FFFFFF}
.g4 { font-size: 0.750em; text-decoration: underline;  color: #FFCC66; background-color: #FFFFFF}
.g5 { font-size: 0.750em; text-decoration: underline;  color: #FF66CC; background-color: #FFFFFF}
.g6 { font-size: 0.750em; text-decoration: underline;  color: #99CC66; background-color: #FFFFFF}
.g7 { font-size: 1em; text-decoration: underline;  color: #000066; background-color: #FFFFFF}
.g8 { font-size: 12pt; text-decoration: underline;  color: #663300; background-color: #FFFFFF}
.g9 { font-size: 12pt; text-decoration: underline;  color: #8A5C8A; background-color: #FFFFFF}
.g10 { font-size: 1.5em; text-decoration: underline;  color: #75A3A3; background-color: #FFFFFF}
.g11 { font-size: 12pt; text-decoration: underline;  color: #000000; background-color: #FFFFFF}
.g12 { font-size: 12pt; text-decoration: underline;  color: #8A5C5C; background-color: #FFFFFF}
.g13 { font-size: 12pt; text-decoration: underline;  color: #006699; background-color: #FFFFFF}
.g14 { font-size: 12pt; text-decoration: underline;  color: #CC9933; background-color: #FFFFFF}
.g15 { font-size: 12pt; text-decoration: underline;  color: #5C8A73; background-color: #FFFFFF}
.g16 { font-size: 12pt; text-decoration: underline;  color: #CC99B3; background-color: #FFFFFF}


/*a:hover 	{ text-decoration: underline;*/
         	 /*color: #888888; background-color: #FFFFFF }*/


em   		{font-weight: bold; }
          
/*div    		{margin-left: 5em; margin-right: 6em;*/
		/*font-size: 14pt;*/
		/*padding: 1em}*/

.thin		{ border-width: thin }
.groove 	{border-style: groove}


ul      	{ font-size: 12pt; margin-left: 1em }

ul ul   	{ margin-left: 2em }

body		{color: #663300;
		font-family: eurostile, arial, sans-serif;
		background-color: #FFFFFF}

img 		{border=0}

p		{font-size: 12pt;
		font-family: eurostile, arial, sans-serif;
		margin-left: 6em; margin-right: 6em;
		text-indent: 1em}

/*h1		{font-size: 20pt;}*/

/*h2		{font-size: 12pt; margin-left: 5em}*/

caption 	{font-size: 14pt; color:#888888; background-color: #FFFFFF;
		font-family: eurostile, arial, sans-serif}

/*th		{font-size: 12pt}*/

/*td		{font-size: 12pt}*/


